/* 
    Cursor bilder
*/
#harvest-metal__btn {
  cursor: url("../images/pickaxe-cursor.png"), pointer;
}

#harvest-wood__btn {
  cursor: url("../images/axe-cursor.png"), pointer;
}

/* 
    Gathering 
*/

.harvest-zone__img {
  width: 80%;
  border-radius: 30%;
  border: 4px solid #0d0d0d;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.harvest-zone__img:active {
  border: solid 4px rgb(170, 170, 170);
}

.harvest-zone-section {
  display: flex;
  justify-content: space-evenly;
}

.harvest-zone__article {
  text-align: center;
}

/* 
    Kjøp gold - det er meningen at den skal være litt stygg :)
*/

.buy-gold-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy-gold-article {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  background: #f2ae2e;
  padding: 48px;
  margin: 80px;
  border: 1px solid;
  animation: border-color-change infinite 1s;
  padding: 16px;
}

#buy-gold-for-real-money__btn {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  border: double;
  margin-top: 20px;
  margin-bottom: 0px;
}

#buy-gold-for-real-money__btn:hover {
  background: rgb(207, 206, 206);
}

#buy-gold-for-real-money__btn:active {
  background: rgb(136, 136, 136);
}

@keyframes border-color-change {
  0% {
    border-color: rgb(200, 46, 242);
    box-shadow: 0px 0px 20px 0px rgba(200, 46, 242, 0.55);
  }
  50% {
    border-color: rgb(71, 56, 166);
    box-shadow: 0px 0px 20px 20px rgba(71, 56, 166, 0.55);
  }
  100% {
    border-color: rgb(200, 46, 242);
    box-shadow: 0px 0px 20px 2px rgba(200, 46, 242, 0.55);
  }
}
